.todo-list {
	display: block;
}

.todo-list>ul {
	padding: 0;
	margin-bottom: 0;
}

.todo-item,
.todo-add-item {
	list-style-type: none;
	display: block;
	background-color: #f5f5f5;
	border-bottom: 1px solid #e1e1e1;
	padding: .75em;
	cursor: pointer;
}

.todo-add-item {
	background-color: #eaeaea;
}

.todo-item-content {
	word-wrap: break-word;
}

/* .todo-item-content,
.todo-item-remove {
	display: inline-block;
}

.todo-item-remove {
	width: 32px;
	text-align: right;
	float: right;
} */

/* .todo-item:last-child {
border:;
} */