.todo-list {
	padding: 0;
}
      
.todo-item {
	list-style-type: none;
	display: block;
	background-color: #f5f5f5;
	border-bottom: 1px solid #e1e1e1;
	padding: .75em;
	cursor: pointer;
}

/* .todo-item:last-child {
border:;
} */